*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 1200px;
}

nav{
    display: flex;
    align-items: center ;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #36536B;

}

.nav-2{
    margin-left: 530px;
    display: flex;
}


button{
    width: 173px;
    height: 48px;
    border:none ;
    border-radius: 30px;
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    background: #BA4270;
    margin-left: 41px;
}

header{
    display: flex;
    align-items: center;
    gap: 138px;
}

h1{
    width: 600px;
    color: #36536B;
    font-size: 72px;

}

main{
    background-color: #1B262F;
    height: 342px;
    width: 100%;
    color: white;
    padding: 20px ;
    margin: 0 auto;
    flex-wrap: wrap;
}

.h2-2{
    font-family: DM Serif Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.3692307770252228px;
    text-align: left;
    padding-left: 359px;
    margin-top: 45px;
}

p{
    font-family: Public Sans;
    font-size: 15px;
    width: 400px;

}


.main-2{
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    gap: 40px;
    flex-wrap: wrap;
}


.flex-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 131px;
    flex-wrap: wrap;

}

.row{
    display: flex;
    align-items: center;
}


h3{
    font-family: DM Serif Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.3692307770252228px;
    text-align: left;
    color: #36536B;


}

.p-2{
    color: #6C8294;
}

.img-1{
    margin-left: 300px;
}

.p-2{
    font-family: Public Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.13846154510974884px;
    text-align: center;
    color: #36536B;
    margin-top: 10px;

}


.p-3{
    font-family: Public Sans;
    font-size: 15px;
    text-align: center;
    color: #6C8294;
    margin-top: 20px;
}


.box{
    width: 500px;
}

.img-4{
    padding-left: 143px;
}


.flex-2{
    display: flex;
    gap: 60px;
    margin-left: 110px;
}


.nav-footer{
    background-color: #1B262F;
    display: flex;
    padding: 20px;
    width: 100%;
}

.nav-3{
    margin-left: 40px;
    color: #FBFCFE;

}

.a-1{
    color: #FBFCFE;

}


.img-7{
    width: 24px;
    height: 24px;

}

.icons{
    border-color: #BA4270;
    display: flex;
    gap: 29px;
    padding-left: 600px;
}



.nav-3{
    display: flex;
    flex-wrap: wrap;

}

@media (max-width:768px) {
    main{
        width: 768px;
    }

    .nav-footer{
        width: 1000%;
    }


    
}